{% extends "base.html" %}
{% block content %}
<div class="wrap">
	<h2>Media</h2>
	{% if msg %}
	<div align="center" style="background-color: rgb(255, 251, 204);">
		<p>
		<strong>{{ msg }}</strong> 
		</p>
	</div>
	{% endif %}
	<form id="file-form" action="" method="post" enctype="multipart/form-data">

		<div id="html-upload-ui">
		<p id="async-upload-wrap">
			<input type="file" id="myfile" name="myfile"> 
			<input type="submit" value="Upload" name="html-upload" class="button"> 
		</p>
		<p><a href="/admin/backup_db">Back up the databse</a></p>
		<br class="clear">
		</div>
	</form>
</div>
{%endblock%}