{% extends "base.html" %}
{% block title %}Aplog{% endblock %}

{% block content %}
	{% for post in posts %}
		<div class="post hentry">
			<h2 id="post-{{ post.id }}" class="entry-title"><a href="{{ post.get_absolute_url() }}" rel="bookmark">{{ post.title|title|e }}</a></h2>
			<p class="comments"><a href="{{ post.get_absolute_url() }}#comments">{{ post.comment_count }} comments</a></p>
		
			<!-- post excerpt -->
			<div class="main entry-content group">
				<p>
					{% if post.excerpt %} {{ post.excerpt }}
					{% elif post.content.find("<!-- pagebreak -->") != -1 %} {{ post.content|excerpt}} <!-- excerpt is self-defined filter -->
					{% else %}{{ post.content|striptags|truncate(300) }}
					{% endif %}
					<a href="{{ post.get_absolute_url() }}">...Read more</a>
				</p>
			</div>
		
			<br /><br />
		</div>
	{% else %}
		<h2> Not found.</h2>
	{% endfor %}
	
	<!-- next and previous posts navigation -->
	<div class="navigation group">
		{% if page > 1 %}
			<div class="alignleft"><a href="?page={{ page - 1 }}">&laquo; Previous</a></div>
		{% endif %}
		{% if page < page_count %}
			<div class="alignright"><a href="?page={{ page + 1 }}">Next &raquo;</a></div>
		{% endif %}
	</div>
	

{% endblock %}


