{% extends "base.html" %}
{% block title %}&raquo; {{ post.title|e }} | Aplog{% endblock %}

{% block content %}
	<div id="entry_content">
	
			<h2 class="title"><a href="{{post.get_absolute_url()}}" rel="bookmark" title="Permanent Link to {{post.title}}">{{post.title|title}}</a></h2>
			<p class="date">{{post.created.strftime('%b %dth, %Y') }}&sect;
			{% if post.comment_status %}
				<a href="{{post.get_absolute_url()}}#comments" title="Comment on {{post.title}}"><span class="commentcount">{{post.comment_count}} comment</span></a>&sect;
			{% endif %}
				<a href="{{post.get_absolute_url()}}" rel="bookmark" title="Permanent Link to Hello world!">permalink</a></p>
      
			<div class="entry">
                {{ post.content|safe }}
				
				<div class="pagination"></div>
				<p class="tags"></p>
				
				{% if post.comment_status == 1 %}
					{% include "comments.html" %}
				{% endif %}

			</div>
	

	</div>

{% endblock %}

{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}


