<!-- template for search results -->

{% extends "base.html" %}
{% block title %}Aplog{% endblock %}

{% block content %}

<h2 class="archive">Search results for &#8216;{{ query }}&#8217;</h2>

{% for post in posts %}
	<div class="post hentry">
		<h2 id="post-6" class="entry-title"><a href="{{ post.get_absolute_url }}" rel="bookmark">{{ post.title }}</a></h2>
		<p class="comments"><a href="{{ post.get_absolute_url }}#comments">75 comments</a></p>
		
		<!-- post excerpt -->
		<div class="main entry-content group">
			<p>{{ post.excerpt|safe }}  <a href="{{ post.get_absolute_url }}">Read more</a></p>
		</div>
		<br />
	</div>
	
{% endfor %}
    <!-- next and previous one post navigation -->
	<div class="navigation group">
		<div class="alignleft"><a href="http://lucianmarin.com/test/page/2">&laquo; Older Entries</a></div>
		<div class="alignright"></div>
	</div>

{% endblock %}




